.App {
	/* background-color: #282c34; */
	background-color: var(--bg-color);
	min-height: 100vh;
	color: white;
}
.header {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid var(--main-accent-color);
}
.general-content {
	display: grid;
	grid-template-columns: 16.5rem 1fr;
}
.sidebar {
	background-color: var(--bg-light-color);
	height: calc(100vh - 150px);
	padding: 1rem;
	border-right: 2px solid var(--main-accent-color);
}
.main {
	padding: 1rem;
}
